@*
    TODO: See if there's a way to get that spinner to display before all the posts load.
*@
@{
    ViewData["Title"] = "All Stories";
}
@model ForumSearch
<br />
<section class="text-center">
    <h1>@ViewData["Title"]:</h1>
</section>
<hr />
<article class="text-center">
    <a class="btn btn-outline-light mb-3" asp-area="" asp-controller="Forum" asp-action="ForumPostForm">Create a forum post</a>
</article>
<div class="container col col-md-6">
    <form method="get" class="">
        <input class="form-control" name="name" placeholder="Name:" value="@Model.Name"/>
        <input class="form-control" type="date" name="date" value="" />
        <select class="form-select" name="filter">
            <option hidden>Sort by:</option>
            @if (Model.Filter == "Date")
            {
                <option value="Date" selected>Date (Newest)</option>
            }
            else
            {
                <option value="Date">Date (Newest)</option>
            }
            @if (Model.Filter == "Date (Oldest)")
            {
                <option value="Date (Oldest)" selected>Date (Oldest)</option>
            }
            else
            {
                <option value="Date (Oldest)">Date (Oldest)</option>
            }
            @if (Model.Filter == "Name")
            {
                <option value="Name" selected>Name</option>
            }
            else
            {
                <option value="Name">Name</option>
            }
        </select>
        <select class="form-select" name="results">
            <option hidden>Results:</option>
            @if (Model.Results == 10)
            {
                <option value="10" selected>10</option>
            }
            else
            {
                <option value = "10" >10</option>
            }
            @if (Model.Results == 20)
            {
                <option value="20"selected>20</option>
            }
            else
            {
                <option value="20">20</option>
            }
            @if (Model.Results == 30)
            {
                <option value="30" selected>30</option>
            }
            else
            {
                <option value="30">30</option>
            }
            @if (Model.Results == -1)
            {
                <option value="-1" selected>All</option>
            }
            else
            {
                <option value="-1">All</option>
            }
        </select>
        <button class="btn btn-outline-light" type="submit">Filter</button>
    </form>
</div>
<article class="container-fluid mt-3">
    @if (Model.ForumPosts.Count != 0)
    {
        foreach (ForumPost forumPost in Model.ForumPosts)
        {
            <div class="mt-md-3 text-center row d-flex justify-content-center">
                <div class="bg-dark-subtle col col-md-8 mb-3"><!--Forum post should only stretch to full width on smaller screens.-->
                    <h3>@forumPost.Title</h3>
                    <p>@forumPost.Description</p>
                    <p>Year this story took place: @forumPost.Year</p>
                    <hr />
                    <p>@forumPost.Story</p>
                    <hr />
                    <p class="text-start float-start">Author: @forumPost.User.Name &nbsp;</p>
                    <p class="text-sm-start text-start float-start float-sm-end">Posted on: @forumPost.Date.ToShortDateString()</p><!--Text should float to left and right sides except on small screens.-->
                </div>
            </div>
        }
    }
    else
    {
        <div class="mt-md-3 text-center row d-flex justify-content-center">
            <p class="text-danger">There are no forum posts.</p>
        </div>
    }
    <!--div class="spinner-border" role="status">
        <span class="visually-hidden"></span>
    </div-->
</article>
